/**
Mise en page avec display: grid
*/

.site__entete {
  grid-area: header;
  padding: 1rem clamp(1rem, 3vw, 20rem);
  background-color: rgb(239, 239, 239);
}

.site__main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.site__footer {
  grid-area: footer;
  background-color: rgb(239, 239, 239);
}

.site__aside {
  grid-area: aside;
  background-color: rgb(239, 239, 239);
}
/* body ou un conteneur globale */
.site {
  width : 100vw;
  overflow-x :hidden;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  row-gap: 50px;
  @media screen and (min-width: 1000px) {
    grid-template-columns: 30% auto;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  }
}

.no-aside {
  grid-template-areas:
    "header"
    "main"
    "footer";
  row-gap: 50px;
  @media screen and (min-width: 1000px) {
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
  }
}