.blocflex{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    article:hover{
        box-shadow: 4px 5px 15px 5px rgba(32,32,32,0.35);
    }
}
.blocflex__article{
    background-color: rgb(239, 246, 246);
    flex: 1 0 300px;
    margin : 10px;
    padding: 10px;
    text-align: center;

    h5 a{
        text-decoration: none;
        color:#011d2e;
        text-transform: uppercase;
    
    }
    h5 a:hover{
        text-decoration: underline;
    }

}
.blocflex__galerie{
    flex:1 0 100%;
    
}
