.blocflex{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article{
        border : 1px solid rgb(205, 203, 203);
        flex: 1 0 300px;
        margin : 10px;
        padding: 5px;
    }
    article:hover{
        box-shadow: 4px 5px 15px 5px rgba(32,32,32,0.35);
    }
}