.site__entete{}
.logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu-entete-container {
    
    flex:1;
    padding : 15px;

    .menu { //ul
        display : flex;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style-type: none;
    
    .menu-item { // li
            a{
            text-decoration: none;
            color: black;
            }
            a:hover {
                text-decoration: underline;
                
            }
    
        }
    
    }
    
    
}