

// .menu-entete-container{
//     background-color: black;
//     .menu{
//         display: flex;
//         justify-content: flex-end;
        
//         flex-wrap: wrap;
//         list-style: none;
//     }


//     .menu-item {

//         a{ 
//         text-decoration: none;
//         padding:3px 5px;
//         color: white;
//         }
//         a:hover{
//             color:gray;
//         }
//     }
// }
.menu-entete-container{
    background-color: black;
}
.menu{
    display: flex;
    justify-content: flex-end;
            
    flex-wrap: wrap;
    list-style: none;
}
.menu-item a {
    text-decoration: none;
    padding:3px 5px;
    color: white;

}