.site__entete{
    text-align: center;
    background-color: rgb(230, 240, 243);
}
.site__entete h1 a{
    color: black;
}
.logomenu{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.menusearch {
    display : flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    
    @media screen and (min-width:1000px) {
        flex-direction: row;
        align-items:center;
        justify-content: flex-end;
        flex: 1;
    }
}

#chkBurger {
    display : none;
}
#chkBurger:checked ~ .menu-entete-container {
    transform : translateX(0);
}
.burger {
    display : block;
    @media screen and (min-width: 500px) {
    display: none;    
}
}

.menu-entete-container { // nav
    transform : translateX(300px);
    transition : transform .25s;
    @media screen and (min-width: 500px) {
        transform : translateX(0);  
}

.menu { //ul 
    display : flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    list-style-type: none;
@media screen and (min-width: 500px) {
    flex-direction : row;  
    justify-content: flex-end;
    align-items: center;
}


.menu-item { // li
        flex : 1 0 50px;

    a{
        white-space: nowrap;
        padding : 3px 10px;
        color : black;
        font-size: 18px;
        text-decoration: none;
    }
    a:hover {
        
        text-decoration: underline;
    }

}

}

}

.recherche {
    display : flex;
    flex-wrap: nowrap;
}

