.site__footer{
    display:flex;
    flex-direction: column;
    padding-top:30px;
}

.footer__widget{
    display:flex;
    flex-direction: row;
    gap: 15px;
    padding:0 15px;
    div{
        // flex:1 0 33%;
        margin-top: 30px;
    }
}
.footer__lien{
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin: 0 auto;
    flex-wrap: wrap;

    div{
        flex:1 0 33%;
    }
    .menu{
        display: flex;
        gap: 20px;
        list-style-type: none;
        margin: 0 auto;
        width: max-content;
    }
}