.site_footer{
    display:flex;
    flex-direction: column;
}

.footer_widget{
    display:flex;
    flex-direction: row;
    div{
        flex:1 0 33%;
    }
}
.footer_lien{
    display:flex;
    flex-direction: row;
}