.menu__bloc{// nav

    .menu{//ul
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        .menu-item{//li
            font-size: 20px;
            flex: 1 0 33%;
            .a{
                text-decoration:none;
                color: black;   
            }

        }
    }

}

.evenement__porte , .evenement__admission, .evenement__harcelement{
    display: flex;
    align-items: center;
    gap: 15px;
    background-image: url(https://s2.svgbox.net/weather-icons.svg?ic=time-11);
    background-repeat: no-repeat;
    background-size: 40px;
    border: 2px solid black;
    padding:15px 15px 15px 50px;
    margin:15px;
    width: 100%;
    a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: underline;
    }
}
